:root {
    --header-color: #212121;
    --title-color:#212121;
    --text-color:#757575;
    --btn-color:#2196F3;
    --second-title-color:#FFFFFF;
    --logo-colar:#2196F3;
    --header-link-color:#757575;
    --second-btn-color:#212121;
}
img {
  display: block;
}

* {
  box-sizing: border-box;
}
address {
  font-style: normal;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
ul{
  margin: 0;
  padding-left: 0;
}


body{
font-family: 'Roboto', sans-serif;
color: #212121;

}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
                                          /*header*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;
}
.logo {font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-colar);
    width: 145px;
    height: 31px;
  }
  .logo {
    margin-right: 70px;
  }
    .logo-accent {
        color: black;
    }
    .logo-accent-two{
      color: #FFFFFF;
    }
    .header-list {
      display: flex;;
    }
    .curent::after{
      position: absolute;
      
      bottom: -1px;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: #2196F3;
      border-radius: 2px;
      
      }
    .header-nav {
      display: flex;
      align-items: center;
    }
    .header .container {
    display: flex;
    align-items: center;
    }
  .header-link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;
    color: var(--header-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }

  .header-item {
  margin-right: 50px;

  }
  .header-item:last-child {
    margin-right: 0;
  }
  
  .header-mail {
      
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  margin-right: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-link-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-connect {
    margin-left: auto;
    display: flex;
  }
  .header-tel, .header-mail {
  
  display: flex;
  }
  .header-icon {
    fill: #757575;
    margin-right: 10px;  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--btn-color);
  }
  .header-mail:hover,
  .header-mail:focus {
    color: var(--btn-color);
  }
  .header-mail:hover .header-icon,
  .header-mail:focus .header-icon {
    fill: var(--btn-color);
  }
  .header-tel:hover,
  .header-tel:focus {
    color: var(--btn-color);
  }

  .header-tel:hover .header-icon,
  .header-tel:focus .header-icon{
    color: var(--btn-color);
    fill: var(--btn-color);
  }

  .business-btn:hover,
  .business-btn:focus {
    background: var(--btn-color);
  }
  .main-btn:hover,
  .main-btn:focus {
    background: var(--btn-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .footer-link-place:hover,
  .footer-link-place:focus {
    color: var(--btn-color);
  }
  .footer-mail:hover,
  .footer-mail:focus {
    color: var(--btn-color);
  }
  .footer-tel:hover,
  .footer-tel:focus {
    color: var(--btn-color);

  }
                                        /*main*/

  .business{
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../img/photo_bg.jpg);
  max-width: 1600px;  
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}                                        
.main-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
color:var(--second-title-color);
text-align: center;
margin-bottom: 30px;
width: 696px;
margin-left: auto;
margin-right: auto;
}


  .business-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-width: 200px;
    height: 50px;
    margin: 0 auto;
    display: block;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    transition: color 250ms linear, background 250ms linear ;
    border: transparent;
  }   
  .option {
    padding-top: 94px;
    padding-bottom: 94px;
  }
    .option-list {
    display: flex;

    }
    .option-item:not(:last-child) {
      margin-right: 30px;
    }
    .option-item {
      width: 270px;
    }
  
  .option-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
  } 
  .option-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
  }     

  .option-soc-list {
  display: flex;
  justify-content: center;
  }

  .option-soc-item {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .option-soc-item:first-child {
    margin-left: 0px;
  }

  .option-soc {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }




  .work {
    padding-bottom: 94px;
  }
  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
    text-align: center;
  }   
  .work-list {
    display: flex;
  }
  .work-item:not(:last-child) {
    margin-right: 30px;

  } 
  
  
  
  .thumb {
    position: relative;
    

  }
  .thumb> .pre-text {
    position: absolute;
    left: 0;
    bottom: 0;
    color:#FFFFFF ;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    
  }

  .pre-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    
  }
  
  .hero {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px; 
  }
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
  }  
  .hero-list {
    display: flex;
    margin: -15px;
  }
  /* .hero-item:not(:last-child) {
    margin-right: 30px; 

  } */
  .hero-item {
    /* flex-basic: calc((100% - 120px) / 4); */
    flex-basis: calc(100% / 4 - 30px);
    margin: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
  }
  .about-people {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 4px;
  }

  .hero-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
  }     
  .hero-work {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
    margin-bottom: 16px;
  }   

  .hero-soc-list {
    display: flex;
    justify-content: center;
  }

  .hero-soc-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;

  }
  
  .hero-soc-item:first-child {
    margin-left: 0px;
  }

  .hero-soc-link {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-soc-icon {
    fill:  #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }

  .hero-soc-link:hover,
  .hero-soc-link:focus {
    background: #2196F3;
  }

  .hero-soc-link:hover .hero-soc-icon,
  .hero-soc-link:focus .hero-soc-icon {
    fill: #FFFFFF;
  }
  
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
    
  }

  .customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
  }

  .customers-item {
    width: 170px;
    height: 92px;
    margin-left: 30px; 
    border: 1px solid #AFB1B8;
    border-radius: 4px;
  }
  .customers-item:first-child {
    margin-left: 0px;
  }

  .customers-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-link {
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .customers-link:hover,
  .customers-link:focus {
    border: 1px solid #2196F3;
  }

  .customers-link:hover .customers-icon,
  .customers-link:focus .customers-icon {
    fill: #2196F3;
  }

                                    /*footer*/
  .footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px; 
    
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .address-container {
    margin-right: 70px;
  }
  
  .footer-list {
    margin-top: 20px;
  }

  .footer-link-place {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-item:not(:last-child) {
    margin-bottom: 9px;

  } 
  .join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase; 
  }

  .join-list {
    display: flex;
    justify-content: center;
  }  
  .join-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
  }
  .join-item:first-child {
    margin-left: 0px;
  } 

  .join-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }   
  
  .join-icon {
    fill: #FFFFFF;
  } 

  .join-link:hover,
  .join-link:focus {
    background: #2196F3;
  }
    
  


                            /*main-portfolio*/
                            
  .main-box {
    padding-top: 94px;
    padding-bottom: 94px;
  } 

  .main-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--second-btn-color);
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }  
  .main-list {
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
  }
  .main-item:not(:last-child) {
    margin-right: 8px;
  }
  
  .about-box {
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 1px solid #EEEEEE; */
    padding-left: 24px;
    padding-right: 24px;
  }
  .box-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .box-item {
  flex-basis: calc(100% / 9 - 30px);
    margin: 15px; 
    outline: 1px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }


  .box-item:hover,
  .box-item:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px 
rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .box-item:hover .box-pre-text {
    transform:translateY(0) ;
  }

  .box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
  
  }                                                   
  .box-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
  }  
  .box-wrap {
    position: relative;
    overflow: hidden;
  }  
  .box-pre-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    height: 100%;
    transform:translateY(100%) ;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .join {
    margin-right: 93px;
  }

  .footer-form {
    display: flex;
    align-items: flex-end;
  }
  
  .footer-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
  }
  .form-btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    /* padding-left: 29px; */
    border: transparent;
    padding: 0;
    border: none;
  }

  .send-icon {
    margin-left: 10px;
    
    
    
  }

  .footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .backdrop {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }

  .modal {
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    transition: transform 250ms linear;
    padding: 40px;
  }

  .window-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .window-btn:hover{
    border: 1px solid #2196F3;
  }
  .window-btn:hover .close-icon {
    fill: #2196F3;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .close-icon {
    fill: #000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }

  .container-form {
    margin-bottom: 10px;
  }
  
  

  .modal-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin: 0;
    width: 100%;
    margin-top: 4px;
    background-color: transparent;
    height: 40px;
    padding-left: 42px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:focus,
  .modal-input:hover {
    /* border-color: #2196F3; */
    border: 1px solid #2196F3;
    

  }
  .modal-input:focus + .form-icon,
  .modal-input:hover + .form-icon{
    fill: #2196F3;
  }
  
  .modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    
  }

  .modal-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea:focus,
  .modal-textarea:hover {
    border: 1px solid #2196F3;

  }

  .modal-textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

  }

  .input-wrap{
    position: relative;
  }

  .form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-field {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-check{ 
    background: #212121;
  }
  .input-check:focus {
    outline: 1px solid #2196F3;
    border: #2196F3;
  }

  .label-check   {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
  }
  .label-link {
    color: #2196F3;
  }
  .label-check span {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .check-icon {
    fill: transparent;
  }
  .input-check:checked + .label-check span {
    background-color: #2196F3;
    border: none;
  }
  .input-check:checked + .label-check .check-icon {
    fill: #FFFFFF;
  }


  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .form-btn {
    width:200px;
    height: 50px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    align-self: center;
    margin: 0 auto;


  }

