
.business .container {
    min-width: 100%;
    padding: 0;
}
.business{
    background: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../img/business-mob.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../img/business-tel-2x.jpg);
    }
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 258dpi),
    (min-resolution: 3dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../img/business-tel-3x.jpg);
    }
    @media screen and (min-width: 768px) {
        
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../img/business-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/business-tab-2x.jpg);
        }
        @media (min-device-pixel-ratio: 3),
        (min-resolution: 258dpi),
        (min-resolution: 3dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/business-tab-3x.jpg);
        }
    }
    @media screen and (min-width: 1200px) {
        
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../img/photo_bg.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/business-desk-2x.jpg);
        }
        @media (min-device-pixel-ratio: 3),
        (min-resolution: 258dpi),
        (min-resolution: 3dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/business-desk-3x.jpg);
        }
    }


    max-width: 1600px;  
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    


}                                        
.main-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    color:var(--second-title-color);
    // text-align: center;
    margin-bottom: 30px;
    // width: 696px;
    // margin-left: auto;
    // margin-right: auto;
    text-transform: uppercase;
    @media  screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
    @media screen and (min-width: 768px) {
        line-height: 1.62;
    }
}

.business-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-width: 200px;
    height: 50px;
    margin: 0 auto;
    display: block;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    transition: color 250ms linear, background 250ms linear ;
    border: transparent;
    &:hover,
    &:focus {
        background: var(--btn-color);
    }
} 