.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px; 
    
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.address-container {
    margin-right: 70px;
}

.footer-list {
    margin-top: 20px;
}

.footer-link-place {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--btn-color);
    }
}
.footer-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--btn-color);
    }
}
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--btn-color);
    }
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;

} 
.join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase; 
}

.join-list {
    display: flex;
    justify-content: center;
}  
.join-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
    &:first-child {
        margin-left: 0px;
    } 
}


.join-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background: #2196F3;
}
}   

.join-icon {
    fill: #FFFFFF;
} 


.join {
    margin-right: 93px;
}

.footer-form {
    display: flex;
    align-items: flex-end;
}

.footer-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}
.form-btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    /* padding-left: 29px; */
    border: transparent;
    padding: 0;
    border: none;
}

.send-icon {
    margin-left: 10px;
    
    
    
}

