.header {
    // padding-top: 24px;
    // padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
    @media screen and (min-width: 768px)  {

  }
}
  .logo {font-family: 'Raleway',sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--logo-colar);
      width: 145px;
      height: 31px;
    }
    .logo {
      margin-right: 70px;
      @media screen and (min-width: 768px)  {
          margin-right: 88px;
      }

    }
      .logo-accent {
          color: black;
      }
      .logo-accent-two{
        color: #FFFFFF;
        @media screen and (min-width: 768px)  {
          
      }
      }
      .menu {
        display: none;
        @media screen and (min-width: 768px)  {
          display: flex;
      }
    }
      .curent::after{
        position: absolute;
        
        bottom: -1px;
        content: "";
        display: none;
        width: 100%;
        height: 4px;
        background-color: #2196F3;
        border-radius: 2px;
        @media screen and (min-width: 768px) {
          display: block;
        }
        }



      .nav {
        display: flex;
        align-items: center;
        padding: 16px 0;
        @media screen and (min-width: 768px)  {
          padding: 26px 0 ;
          margin-right: auto;
        }
      }
      .header .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      }
    .menu__link {
      padding-top: 32px;
      padding-bottom: 32px;
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;  
      letter-spacing: 0.02em;
      color: var(--header-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--btn-color);
      }
      @media screen and (min-width: 768px)  {
        padding-bottom: 34px;
    }
    }
    

    
    .menu__item {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  
    }

    
    .connect__mail {
        
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-link-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--btn-color);
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 10px;
        margin-right: 0;
        font-size: 12px;
        line-height: 1.17;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      font-size: 14px;
      line-height: 1.14;
    }
    }
    .connect__tel {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--header-link-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--btn-color);
      }
      @media screen and (min-width: 768px) {
        margin-bottom: 10px;
        margin-right: 0;
        font-size: 12px;
        line-height: 1.17;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      font-size: 14px;
      line-height: 1.14;
    }
    }
    .header__connect {
      margin-left: auto;
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding-top: 21px;
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
      }
    }

    .connect__tel, .connect__mail {
    
    display: flex;
    }
    .connect__icon {
      fill: #757575;
      margin-right: 10px;  
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      .connect__tel:hover &,
      .connect__tel:focus &{
        color: var(--btn-color);
        fill: var(--btn-color);
      }
      .connect__mail:hover &,
      .connect__mail:focus & {
        fill: var(--btn-color);
      }
    }

    .menu-open-btn {
      display: block;
      margin-left: auto;
      padding: 0px;
      margin: 0px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
    fill:#2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
    }

    .close-menu-btn {
      position: fixed;
      top: 10px;
      right: 15px;
      padding: 0px;
      height: 40px;
      cursor: pointer;
      border: none;
      background-color: rgba(0,0,0,0);
      &:hover,
      &:focus {
    fill:#2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

    .mob-menu-icon {
      fill: #212121;
    }

    .mob-menu {
      position: fixed;
      z-index: 2;
      background:#FFFFFF;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 48px 25px;
      overflow: auto;
      transition: opacity 250ms linear, visibility 250ms linear;

    }
    .mob-menu .container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      align-items: flex-start;
  }

    .mob-menu__link {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.02em;
      color: #212121;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--btn-color);
      }
    }

    .mob-menu__item:not(:last-child) {
      margin-bottom: 32px;
    }

    .mob-connect__list {
      margin-bottom: 64px;
    }

    .mob-connect__item:not(:last-child) {
      margin-bottom: 32px;
    }

    .mob-connect__tel {
      font-weight: 500;
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: #2196F3;
    }

    .mob-connect__mail {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: #757575;
    }

    .mob-soc__list {
      display: flex;
      // position: relative;
    }

    .mob-soc__item:not(:first-child){
      margin-left: 10px;
    }

    .mob-soc__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: #2196F3;
      display: inline;
    }

    .mob-soc__item:not(:last-child)::after {
      content: "";

      border-left: 1px solid rgba(33, 33, 33, 0.2);
      margin-left: 10px;
      color: black;
    }






  

  




