.hero {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px; 
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}  
.hero-list {
    display: flex;
    margin: -15px;
}

.hero-item {
    
    flex-basis: calc(100% / 4 - 30px);
    margin: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}
.about-people {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.hero-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}     
.hero-work {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
    margin-bottom: 16px;
}   

.hero-soc-list {
    display: flex;
    justify-content: center;
}

.hero-soc-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
    &:first-child {
        margin-left: 0px;
    }

}



.hero-soc-link {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background: #2196F3;
}
}
.hero-soc-icon {
    fill:  #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .hero-soc-link:hover &,
    .hero-soc-link:focus & {
    fill: #FFFFFF;
}
}



