.skills {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px)  {
            max-width:  1200px;
            padding-top: 94px;
            padding-bottom: 94px; 
        }  
}


.option-soc__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
} 
.option-soc__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}     

.option-soc__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.option-soc__item {
    width: 100%;
    height: 120px;
    @media screen and (min-width: 768px)  {
        max-width:  768px;
        flex-basis: calc(100% / 2 - 30px);
        }
        @media screen and (min-width: 1200px)  {
            max-width:  1200px;
            flex-basis: calc(100% / 4 - 30px);
        }
    background: #F5F4FA;
    border-radius: 4px;
    // margin-bottom: 30px;
    
    
}

.option-soc__container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}