.skills {
    padding-top: 94px;
    padding-bottom: 94px;
}
    .option__list {
    display: flex;

    }

.option__item {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
        }
    }

.option__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
} 
.option__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
}     

.option-soc__list {
    display: flex;
    justify-content: center;
}

.option-soc__item {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 30px;
    &:first-child {
        margin-left: 0px;
    }
    
}


.option-soc__container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}