.work {
    padding-bottom: 94px;
}
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
    text-align: center;
}   
.work-list {
    display: flex;
}
.work-item:not(:last-child) {
    margin-right: 30px;

} 

.thumb {
    position: relative;
    

}
.thumb> .pre-text {
    position: absolute;
    left: 0;
    bottom: 0;
    color:#FFFFFF ;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    
}

.pre-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}