:root {
    --header-color: #212121;
    --title-color:#212121;
    --text-color:#757575;
    --btn-color:#2196F3;
    --second-title-color:#FFFFFF;
    --logo-colar:#2196F3;
    --header-link-color:#757575;
    --second-btn-color:#212121;
}