.main-box {
    padding-top: 94px;
    padding-bottom: 94px;
  } 

  .main-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--second-btn-color);
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: var(--btn-color);
      color: #FFFFFF;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    
  }  
  .main-list {
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
  }
  .main-item:not(:last-child) {
    margin-right: 8px;
  }
  
  .about-box {
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 1px solid #EEEEEE; */
    padding-left: 24px;
    padding-right: 24px;
  }
  .box-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .box-item {
  flex-basis: calc(100% / 9 - 30px);
    margin: 15px; 
    outline: 1px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px 
  rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
  }





  .box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
  
  }                                                   
  .box-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
  }  
  .box-wrap {
    position: relative;
    overflow: hidden;
  }  
  .box-pre-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    height: 100%;
    transform:translateY(100%) ;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .box-item:hover & {
      transform:translateY(0) ;
    }
  }